{% extends 'home/index.html' %}

{% block index %}
      <div class="mt-10 mr-32">
        <h3>آگهی های تازه مزایده</h3>
      </div>
      <div class="grid justify-center mt-10 mb-10">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for product in products %}


        <div class="">
             <div class="w-[26rem] h-60 bg-white shadow-sm rounded-2xl">
              <div class="flex px-5 py-5 h-full">
                <a
                  href="{% url 'product' product.slug %}"
                  class="flex flex-col justify-between border-l pl-5 w-52 items-center text-center"
                >
                  <img src="{% if product.first_pic %}{{ product.first_pic.url }}{% endif %}" alt="" class="w-44 h-32 shadow-sm rounded-lg object-cover bg-cover" />
                  <div
                    class="flex flex-col items-center justify-center bg-[#E2F8EF] text-[#32C98B] w-40 h-[60px] rounded-lg"
                  >
                    <p class="text-sm border-b border-black/25 pb-1 mb-1">
                      مهلت شرکت
                    </p>
                    <p class="text-sm gregorian-date">{{ product.end_date|date:"Y/m/d" }}</p>
                  </div>
                </a>
                <div class="flex flex-col justify-between px-3">
                  <a href="{% url 'product' product.slug %}" class="h-10">
                    <h4 class="font-DanaFaNumDemiBold tracking-tight">
                                             {{ product.title }}

                    </h4>
                  </a>
                  <div class="flex flex-col space-y-3">
                    <div class="flex">
                      <svg class="w-4 h-4 ml-3">
                        <use href="#location"></use>
                      </svg>
                      <span class="text-zinc-400 text-sm font-DanaFaNumRegular"
                        >تهران/تهران</span
                      >
                    </div>
                    <div class="flex">
                      <svg class="w-4 h-4 ml-3">
                        <use href="#briefcase"></use>
                      </svg>
                      <span class="text-zinc-400 text-sm font-DanaFaNumRegular"
                        >وسیله نقلیه</span
                      >
                    </div>
                  </div>
                  <div class="">
                    <p class="text-xs text-zinc-600/80 leading-6 line-clamp-2">
                     {{ product.description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>





    {% endfor %}
      </div>
        </div>




{% endblock %}